<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url:login_path do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class:"form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit "ログイン", class:"btn btn-primary" %>
    <% end %>
    
    <p><%= link_to '会員登録はこちら', signup_path %></p>
</div>
