<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class ="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to set_profile_image(user,size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </aside>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Insta App</h1>
    <%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Facebookでログイン", "/auth/facebook" %>
  </div>
  <% end %>
