<% provide(:title, "プロフィール変更") %>
<h1>プロフィール変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "名前" %> ※必須
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_name, "ユーザーネーム" %> ※必須
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %> ※必須
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :profile_image, "プロフィール画像" %>
      <%= f.file_field :profile_image, class: "form-control", accept: 'image/jpeg,image/png' %>

      <%= f.label :introduction, "自己紹介" %> (300字以内)
      <%= f.text_area :introduction, class: 'form-control' %>

      <%= f.label :web_url, "ウェブサイト" %>
      <%= f.url_field :web_url, class: 'form-control' %>

      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'パスワード変更', edit_password_user_path(@user) %> ・
    <%= link_to "アカウント削除", @user, method: :delete,
                                      data: { confirm: "アカウントを削除しますか？" } %>
  </div>
</div>
