<%= provide(:title, "新規登録") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>新規登録</h1>
    <%= form_for @user, url: signup_path do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :user_name, "ユーザーネーム" %>
      <%= f.text_field :user_name, class: "form-control" %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "アカウント作成", class: "btn btn-primary" %>
    <% end %>
    <%= link_to '利用規約', terms_path %>
  </div>
</div>
