<%= link_to set_profile_image(current_user), current_user %>
<h1><%= current_user.user_name %></h1>
<span><%= link_to "プロフィールへ", current_user %></span>
<span><%= current_user.microposts.count %>件の投稿</span>
