<section class="microposts">
  <li id="micropost-<%= micropost.id %>">
    <% if controller.controller_name == "top_pages" %>
      <%= micropost.user.user_name %>
    <% end %>
    <span class="content">
      <%= link_to micropost do %>
        <%= image_tag micropost.picture.url %>
      <% end %>
    </span>
    <span class="timestamp">
      <p><%= time_ago_in_words(micropost.created_at) %>前　　　　
        コメント<%= micropost.comments.count %>件</p> 
      <% if current_user?(micropost.user) && (controller.controller_name != "top_pages") %>
        <%= link_to "投稿を削除", micropost, method: :delete,
                                    data: { confirm: "投稿を削除しますか？" } %>
      <% end %>
    </span>
  </li>
</section>
